server:
  port: 8032

spring:
  datasource:
#    url: jdbc:postgresql://localhost:5431/marketplace?currentSchema=public
    url: jdbc:postgresql://localhost:5431/postgres?currentSchema=public
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: public

app:
  postgres:
    container-name: postgres-16
  backup:
    path: /backup/